* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
}

path {
  pointer-events: all;
}
path:hover {
  opacity: 0.5;
  cursor: pointer;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.us-state-map {
  height: 50%;
  width: 50%;
}

button {
  width: 50px;
}
